<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script type="text/javascript" src="../src/temperature.js"></script>
    <script type="text/javascript" src="../src/thermostat.js"></script>
  </head>
  <body>
    <div class="thermostat">
      <div class="controls">
        <button type="button" name="up">Up</button>
        <button type="button" name="down">Down</button>
        <button type="button" name="Reset">Reset</button>
        <button type="button" name="PSM">PSM</button>
      </div><!--controls-->
      <div class="screen">
        <div class="temperature">

        </div> <!--temperature-->
        <h1></h1>
      </div><!--screen-->
    </div><!--thermostat-->
  </body>
</html>
