<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script type="text/javascript" src="../src/temperature.js"></script>
    <script type="text/javascript" src="../src/thermostat.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../src/interface.js"></script>
    <script type="text/javascript" src="../src/api-interface.js"></script>
  </head>

  <body>
    <div class="thermostat">
      <div class="screen">

        <div class="temp">
        </div> <!--temperature-->

        <!-- <span id="city"></span><span id="cur-temp"><span> -->
      </div>
      <div id="psmMessage"></div>
      <div class="controls">
        <button type="button" id="up">Up</button>
        <button type="button" id="down">Down</button>
        <button type="button" id="reset">Reset</button>
        <button type="button" id="psmToggle">PSM</button>
      </div><!--controls-->
    </div><!--thermostat-->
  </body>
</html>
